/* CSS setup for CarDealerUK website */
body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Overpass';
  src: url("/assets/fonts/overpass.ttf"); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'SF';
  src: url("/assets/fonts/sf.ttf"); /* Safari, Android, iOS */
}

/* Header Styling */
header, footer {
  max-width: 1440px;
  height: 250px;
  margin: 0 auto;
}

.header__elem1 {
  display: flex;
  align-items: center;
  margin-left: 40px;
  font-size: 30px;
  height: 100px;
  width: 100%;
  margin: 0 auto;
  margin-left:30px;
}

.header__text--large, .footer__text--large {
  font-size: 30px;
  font-weight: bold;
}

.header__text--small, .footer__text--small {
  font-size: 15px;
  margin-left: 5px;
  color: #7572FF;
  font-weight: bold;
}

.header__elem2 {
  height: 137px;
  background: #282338;
  width: 100%;
  margin: 0 auto;
  border-radius: 0 0 0 60px;
}

/* Footer Styling */
.footer__information {
  width: 100%;
  height:396px;
  background: #282338;
  border-radius: 0 60px 0 0;
}

.footer__container {
  display: flex;
  height: 100px;
  width: 100px;
  align-items: center;
  margin-left: 40px;
}

.footer__text--large {
  color: #ffffff;
}

.footer__legal {
  background: #3F3A50;
  height: 199px;
  width: 100%;
}

/* Body Styling */
.page-width {
  display: flex;
  max-width:1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.filter {
  background: #3F3A50;
  width: 298px;
  height: 1031px;
  margin: 17px;
}

.filter__container {

}

/* Styling for Vehicle Card Containers */
.vehicles {
  max-width: 1029px;
  max-height: 2038px;
  margin: 17px;
  background: orange;
}

.vehicle__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-height: 1501px;
  max-width: 1029px;
  background: red;
  margin-top: 80px;
}

/* Styling for Vehicle Cards */
.vehicle__card {
  position: relative;
  width: 333px;
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px; /* REMOVE THIS */
  margin-bottom: 15px;
}

.vehicle__card__inner {
  display:flex;
  margin-left: 10px;
}

.vehicle__card--row {
  flex-direction: row;
}

/* Overlay Styling for Cards */
.vehicle__card__overlays {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vehicle__status, .vehicle__attr {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-left: 5px;
  margin-top: 10px;
  background: #3F3A50;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.vehicle__attr {
  height:20px;
  padding: 1px 10px;
  margin-bottom:10px;
}

.vehicle__status {
  padding: 1px 10px;
}

.vehicle__status span, .vehicle__attr span {
  text-transform: uppercase;
    font-family: 'Overpass';
    font-size: 12px;
    font-style: normal;
    line-height: 31px;
    letter-spacing: 0em;
    height: 27px;
}

.vehicle__image {
  width: 100%;
  height: 250px;
}

.vehicle__image img {
  width: 100%;
  height: 100%;
  border-radius: 16px 16px 0 0;
}

/* Vehicle Card Descriptions */
.vehicle__desc {
  background: #ffffff;
  width: 100%;
  height: 114px;
  border-radius: 0 0 16px 16px;
  font-family: 'SF';
}

.vehicle__desc-top, .vehicle__desc-bottom {
  position: relative;
  width:327px;
  height:42px;
  padding-left:10px;
  padding-top:10px;
}

.vehicle__desc-header {
  width: 313px;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
}

.vehicle__desc-subheader {
  width: 313px;
  height: 18px;
  color: #B0ACA8;
  font-size: 12px;
}

.vehicle--like {
  position: absolute;
  top: 11px;
  right: 11px;
  border: none;
  background: none;
  cursor: pointer;
}

.vehicle__desc-bottom {

}

.vehicle__desc-cost {

}

.vehicle-cost--large {
  font-size: 18px;
  font-weight: 700;
}

.vehicle-cost--small {
  font-size: 12px;
  font-weight: 400;
}

.vehicle__desc-value span, .vehicle__desc-value a {
  font-size: 12px;
}

.vehicle__desc-value a {
  text-decoration: none;
}

/* Responsive Designs */
@media (max-width:1440px){
  .filter {
    display: none;
  }

  .vehicle {
    margin: 0 auto;
  }

  .vehicle__card {
  }
}

@media (max-width:1048px){
  header {
    height:100px;
    border-bottom: 1px solid #D1D6E0;
  }

  .header__elem2 {
    display:none;
  }

  .vehicle {
    width:669px;
  }

  .vehicle__card {
    width:327px;
  }
}

@media (max-width:768px){
  .vehicle {
    width:342px;
  }
}


@media (max-width:375px){

}
